%form{:action => "/robots", :method => "post"}
  %input.form-control{:type => "text", :name => "robot[name]", :placeholder => "Name"}
  %input.form-control{:type => "text", :name => "robot[city]", :placeholder => "City"}
  %input.form-control{:type => "text", :name => "robot[state]", :placeholder => "State"}
  %input.form-control{:type => "text", :name => "robot[birth_date]", :placeholder => "Birthdate"}
  %input.form-control{:type => "text", :name => "robot[date_hired]", :placeholder => "Date Hired"}
  %input.form-control{:type => "text", :name => "robot[department]", :placeholder => "Department"}
  %input.form-control{:type => "submit"}
